<section style="position: relative; height: 700px;">
    <div class="compatibility">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> Ups! </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text" style="font-size:20px;color:#333">
                        The browser you are using is not compatible with my klovr. Try using the following browsers:
                    </span>
                </div>
                
                <br>
                <br>

                <div class="container">
                    <a class="btn btn-primary" href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><i class="fa fa-chrome m-r-10"></i>Chrome (recommended)</a>
                    <a class="btn btn-primary" href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"><i class="fa fa-firefox m-r-10"></i>Firefox</a>
                    <a class="btn btn-primary" href="http://www.opera.com/download" target="_blank"><i class="fa fa-opera m-r-10"></i>Opera</a>
                    <a class="btn btn-primary" href="https://support.apple.com/downloads/safari" target="_blank"><i class="fa fa-safari m-r-10"></i>Safari</a>
                </div>
            </div>
        </div>
    </div>
</section>