<section class="bg-white">
    <div class="container pp-schools">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For public & private high schools </span>
                    </h2>
                </div>
                <div class="mkd-separator-holder clearfix mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        Running a school is a rewarding, yet very demanding endeavor. Your mission is to guide each and every child to a successful and fulfilling life. But with often-stretched resources and the ever-changing education curriculum, as well as an increased competition, it can be hard to break out of the one-size-fits-all mold.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/public-private-schools/young-people.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section p-25">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Helping students go to college </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> Early college counseling is the key to a successful college admissions process, which greatly impacts a school's reputation. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> With hundreds of advisees per college counselor, it can be overwhelming to personally understand the needs of every student, and provide them with individualized guidance. This is where myKlovr can help. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white p-20">
    <div class="row">
        <div class="col-md-12 col-lg-6 letters-section p-25">
            <div class="mkd-st-title-holder">
                <p class="header-title"> AI enabled tool for college counselors </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> We bring an artificial intelligence enabled, college advisor platform to help both your students and your college counseling teams achieve the highest levels, with the limited time and resources that they have. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description">Based on a suite of academic, personal, and even professional assessments, myKlovr's virtual counselor identifies opportunities for each and every student to increase their chances of getting into college, which then can be reviewed and applied with their college counselor. </p>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/public-private-schools/ipad_profile.png">
        </div>
    </div>
</section>

<section class="light-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="mkd-st-title-holder">
                    <md-icon fontSet="fontawesome" fontIcon="fa-lightbulb-o" class="font-icon"></md-icon>
                    <div class="header-section">
                        <p class="header-title-3"> Personalized recommendations </p>
                        <p class="header-description-3"> While our virtual college advisor crunches tons of internal and external data to produce a personalized path to college admissions, a HS college counselor leverages their humanistic experience and expertise more efficiently. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="mkd-st-title-holder">
                    <md-icon fontSet="fontawesome" fontIcon="fa-bar-chart" class="font-icon"></md-icon>
                    <div class="header-section">
                        <p class="header-title-3"> Performance visualization </p>
                        <p class="header-description-3"> MyKlovr's college counseling platform will soon come with a detailed progress tracking functionality for students, as well as in the form of consolidated dashboards that provide college counselors with real-time oversight of their college bound advisee's performance. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="mkd-st-title-holder">
                    <md-icon fontSet="fontawesome" fontIcon="fa-users" class="font-icon"></md-icon>
                    <div class="header-section">
                        <p class="header-title-3"> Parents and teachers teams </p>
                        <p class="header-description-3"> MyKlovr network connects college bound students, their families, teachers, counselors, and a select group of friends, providing them with a single source communication solution, benefiting all parties during the college admissions process. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-parallax">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding:0px;">
                <h2 class="mkd-st-title title-parallax">
                    <span> Leverage Your Own Data </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="description-parallax">Additionally, myKlovr extensive datasets and proprietary data analysis capabilities can assist schools by improving their enrollment, retention, ranking, and attrition rates.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-myklovr btn-rounded" (click)="ContactUs()">REQUEST INFORMATION</button>
            </div>
        </div>
    </div>
</section>
