<section style="padding-top: 20px;">
    <div class="login-box card animated fadeIn">
        <div class="card-body">
            <div class="col-12">
                <div class="row" style="text-align: center;">
                    <div style="text-align: left;">
                        <span style="font-size: 22px;">Sign up</span>
                    </div>
                    <div class="mkd-separator-fullw">
                    </div>
                    <div class="col-12">
                        <button class="btn-component bt-facebook btn-5 btn-5a icon icon-facebook" style="width: 100%" (click)="loginWithFacebook()"><span>Sign up with Facebook</span></button>
                    </div>
                    <div class="col-12">
                        <button class="btn-component btn-black btn-5 btn-5a icon icon-envelop" style="width: 100%" (click)='register()'><span>Sign up with an E-mail</span></button>
                    </div>
                    <div class="col-12">
                        <span style="padding-top: 10px;display: block;font-family: 'Helvetica';font-size: 16px;color:#576271"> Already have an account? </span>
                    </div>
                    <div class="col-12">
                        <!-- <button type="submit" class="btn-component btn-8-yellow btn-8b-yellow" style="width: 100%" [routerLink]="['/account/login']">Login</button> -->
                        <button class="btn-component btn-myklovr btn-5 btn-5a icon icon-happy" style="width: 100%;" [routerLink]="['/account/login']"><span>Login</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <app-role></app-role> -->

</section>