<section class="bg-white">
    <div class="container employer">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For employers </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        Retaining the most qualified talent has become a very difficult process with increased marketplace demand and candidate competition. Today's employees career choices are deeply impacted by the company's work-family balance more than any other time in history. For many, being a parent is as important as being an employee.
                    </span>
                </div>

                <div class="mkd-st-text-holder">
                    <p class="mkd-st-text-text question">
                        How can myKlovr strike that balance for companies?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/education-business/parent-worries.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section p-25">
            <div class="mkd-st-title-holder">
                <p class="header-title"> The worries of getting a child into college </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> Did you know that most parents of college bound students do not know how or where to look to find the best college for their children? </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Additionally, they do not know how to help their children improve their academic rankings, including their ever-important SAT scores. An even bigger concern on their minds today is how they will pay for college, not to mention when to even begin preparing them for college. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white p-20">
    <div class="row">
        <div class="col-md-12 col-lg-6 letters-section p-25">
            <div class="mkd-st-title-holder">
                <p class="header-title"> The benefit of virtual college advisor </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> With myKlovr you can provide your employees with a benefit that will alleviate much of this weight off from their shoulders, and help them focus on being more productive at work. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Our virtual counselor provides specific and individual guidance, connects students, teachers, parents, and counselors, and we provide step-by-step personalized action plans with the most relevant resources, ultimately increasing the chances their chances of getting into college for their college bound kids, and even into the college of their choosing. MyKlovr bridges the gap often left wide open by overstretched high school college counselors. </p>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/education-business/boy.jpg">
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/education-business/parent-worries.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section p-25">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Recruit best graduate employees </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> Coming soon, the myKlovr platform will be available for insight driven graduate recruitment. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Our artificial intelligence, married with our data-rich student base will enable companies to identify talent who best fit their needs and culture. Not to mention reducing recruiting costs, and the organizations average cost per hire. </p>
            </div>
        </div>
    </div>
</section>

<section class="container-contact-us">
    <div class="row">
        <div class="col-9 d-flex align-items-center">
            <p class="contact-us-title">
                Do you need more information? Please contact us.
            </p>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-myklovr btn-rounded" (click)="ContactUs()">REQUEST INFORMATION</button>
        </div>
    </div>
</section>
