<section>
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <div class="row">
                    <div class="col-sm-7 col-md-9 d-flex align-items-center" data-toggle="collapse" data-target="#ic0016" aria-expanded="true" aria-controls="ic0016">
                        <span class="container-title">{{container_name}}  </span><span class="fa fa-info-circle container-info-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="{{container_tooltip}}"></span>
                    </div>
                    <!-- <div class="col-sm-5 col-md-3 text-right">
                        <div style="display: inline-block;">
                            <label class="switch">
                                <input type="checkbox" [checked]="value" (change)="value = !value">
                                <span class="slider round2"></span>
                            </label>
                        </div>
                    </div> -->
                </div>
            </div>
            <hr class="separator">
        </div>
    </div>
    <div id="ic0016" class="collapse show">
        <div class="row">
            <div class="col-md-12">
                <ngb-tabset class="customtab" justify='end'>
                    <ngb-tab *ngFor="let transcript of container?.transcripts; let i = index">
                        <ng-template ngbTabTitle><b>{{transcript.grade}}</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="width-50">Courses</th>
                                                    <th class="width-40">Score</th>
                                                    <th class="width-10"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let property of transcript?.properties; let j = index">
                                                    <td>{{property.course}}</td>
                                                    <td>{{property.score}}</td>
                                                    <td class="text-nowrap text-center">
                                                        <a (click)="open(false,i,j,content)"> <i class="fa fa-pencil text-inverse m-r-10 pointer"></i> </a>
                                                        <a (click)="remove_course(i,j)"> <i class="fa fa-close text-inverse pointer"></i> </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="no-padding">
                                                        <div class="row new-tag d-flex align-items-center text-center">
                                                            <div class="col-md-12" (click)="open(true,i,j,content)">
                                                                <a class="btn btn-default btn-circle"><i class="fa fa-plus fa-silver"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{title_modal}}</h4>
        <button type="button" class="close" style="cursor:pointer" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-12" style="margin-bottom: 0px;">
                <div *ngIf="show_alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Alert!</strong> {{errorMessage}}
                </div>
            </div>
            <div class="form-group col-md-12">
                <div>
                    <label class="col-form-label">Subject</label>
                    <md-select [(ngModel)]="subject" class="select-course">
                        <md-option *ngFor="let subject of subjects" [value]="subject">
                            {{subject.description}}
                        </md-option>
                    </md-select>
                </div>
                <div style="margin-top: 26px">
                    <label class="col-form-label">Course</label>
                    <md-select [(ngModel)]="course" class="select-course">
                        <md-option *ngFor="let course of subject?.courses" [value]="course.description">
                            {{course.description}}
                        </md-option>
                    </md-select>
                </div>
            </div>

            <div class="form-group col-md-6" style="padding-top:3px">
                <label class="col-form-label">Scale Type</label>
                <!-- <input type="text" class="form-control" [(ngModel)] = "course" placeholder="Course"> -->
                <md-select [(ngModel)]="scale_type" (change)="getPrefix()" class="select-scale">
                    <md-option *ngFor="let scale of scales" [value]="scale.code">
                        {{scale.description}}
                    </md-option>
                </md-select>
            </div>

            <div class="form-group col-md-6" >
                <label class="col-form-label">Score</label>
                <!-- <input type="text" class="form-control" [(ngModel)] = "score" placeholder="Score"> -->
                <md-form-field [hidden]="isGrades" class="input-score" style="padding-top:2px">
                    <input mdInput type="number" min="0" max="{{max}}" step="0.1" [ngModel]="score" (ngModelChange)="score = $event">
                    <span mdSuffix>{{prefix}}</span> 
                </md-form-field>

                <md-select [hidden]="!isGrades" [(ngModel)]="score" class="select-scale" style="padding-top:15px"> 
                    <md-option *ngFor="let grade of grades" (change)="changeGrade(grade.code)" [value]="grade.code">
                        {{grade.description}}
                    </md-option>
                </md-select>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-myklovr" (click)="save_course(content) && c('Close click')">Save</button>
    </div>
</ng-template>