<section style="padding-top: 20px;">
    <div class="login-box card">
        <div class="card-body">
            <div class="col-12">
                <div class="row" style="text-align: center;">
                    <div style="text-align: left;">
                        <span style="font-size: 22px;">Re-type your new Password</span>
                    </div>
                    <div class="mkd-separator-fullw">
                    </div>
                </div>
            </div>
            <form class="form-horizontal form-material" role="form" name="form" #f="ngForm" (submit)="recoverPassword(f.form.valid)" validate>
                <div class="form-group">
                    <div class="col-12">
                        <input class="form-control" type="password" placeholder="Password" name="password" id="password" password [(ngModel)]="password" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <button class="btn-component btn-myklovr btn-5 btn-5a icon icon-cogs" style="width: 100%;" type="submit" [disabled]='password == ""'><span>Change password</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>