.filter-title{
  background-color: #191332;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px;
}

.card-shadow{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  margin: 8px;
}

.card-content{
  text-align: left;
  padding-left: 10%;
  padding-top: 5%;
}

.filter-container{
  padding: 10px 30px;
}

.filter-tag{
  padding: 10px;
  font-size: 1rem;
}

.filter-tag-container{
  background-color: #eaeaea;
  padding: 8px;
  border-radius: 5px;
}
