<section class="bg-white">
    <div class="container student">
        <div class="row justify-content-center">


            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title">
                        <span>
                            <a style="color: rgb(65, 65, 100);font-size: 35px;" href="https://www.christopherbot.co"> Christopher Bot </a>
                        </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-title-holder">
                    <p class="header-subtitle">A personal homework assistant </p>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        <a href="https://www.christopherbot.co"> Christopher Bot </a> is a Facebook Messenger based bot that keeps track of student’s homework and
                        helps them make sure that they are prepared for every class. It uses Facebook Messenger platform
                        and a conversational language that fit into users’ lifestyle. </span>
                </div>

                <div style="margin-top: 50px;">
                    <img src="assets/images/bot/cbot_app.jpg" width="300px" alt="bot descripption">
                </div>
            </div>

        </div>
    </div>


</section>


<section class="light-container">
    <div class="container" style="padding-bottom:80px;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-12 text-center">

                <div class="mkd-st-title-holder">
                    <p class="header-subtitle" style="font-size: 30px;">How it works </p>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-bottom: 30px"></div>
                </div>

                <div style="margin: 20px 0">
                    <img src="assets/images/bot/bot2.png" alt="bot descripption">
                </div>
                <div class="mkd-st-text-holder">
                </div>
            </div>
        </div>
    </div>

</section>

<section class="bg-white">
    <div class="container student">
        <div class="row justify-content-center">
            <div class="col-12 text-center" style="margin-top: 20px;">
                <div class="mkd-st-title-holder">
                    <p class="header-subtitle" style="font-size: 30px;">Created for Students by a Student </p>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        Alec Jones, a 15-year- old grade 10 student from Victoria, British Columbia, developed Christopher Bot to provide teenager
                        like himself, with homework assistance. He is a great example of Generation Z entrepreneurial spirit.
                        </span>

                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <img src="assets/images/home/our-team/alec.jpg" width="600px" style="margin: 40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="light-container">
    <div class="container" style="padding-bottom:80px;">
        <div class="row justify-content-center">
            <div class="col-12 text-center" style="margin-top: 80px;">
                <div class="mkd-st-title-holder">
                    <p class="header-subtitle" style="font-size: 30px;">MyKlovr and Christopher Bot partnership</p>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-bottom: 30px"></div>
                </div>

                <div>
                    <div style="padding:20px;">
                        <video width="640" height="360" preload controls>
                            <source src="assets/files/2017 04 23 CB Alec.mov" type="video/mp4">
                        </video>
                    </div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        MyKlovr acquired Christopher Bot in April 2017. It is part of the company social responsibility program “Built by Students,
                        for Students” Tech Incubator, helping student endeavors to capitalize on their ingenious ideas surrounding
                        education and development.</span>
                </div>
            </div>
        </div>
    </div>
</section>