<section class="bg-white bg-opacity">
    <div class="container careers">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> Careers </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <md-accordion>
                    <md-expansion-panel>
                        <md-expansion-panel-header>
                            <md-panel-title>
                                TUTOR / MENTOR / COACH
                            </md-panel-title>
                        </md-expansion-panel-header>

                        <p>Are you a Student? Are you a Teacher? Are you both? Want to make incremental revenue by tutoring on the hottest new student development platform which just launch?</p>
                        <p>Duties and Responsibilities:</p>

                        <ul>
                            <li>The tutor has to help the child or children in whatever subject they are having a difficulty with</li>
                            <li>They have to devise new methods of teaching if the child is having trouble learning through the conventional method</li>
                            <li>They can design workshops for the children so that they can learn better in different atmosphere than school</li>
                            <li>The tutor has to maintain a report about each child they work with so they can see the progress of the child</li>
                            <li>They have to be in contact with the teacher and the parents of the child, and they have to share information about the child</li>
                            <li>They have to trained to spot learning disorders and report them to the parents and the teacher</li>
                            <li>The tutors should have excellent communication skills, so they can interact with the childMost importantly, the tutors have to be well-versed in the curriculum they will be helping the students with</li>
                            <li>Though not mandatory, but it is an advantage if the tutor has some knowledge about child psychology</li>
                            <li>They have to ensure that the students improve their grades as this is their primary task</li>
                        </ul>

                        <p>Education: <br> They have to have a bachelor's degree in education or a specialization in the subject they will be teachingAdditional experience in working with children</p>
                        <p>Job Type: Contract</p>
                        <p>Required education: High school or equivalent</p>
                    </md-expansion-panel>

                    <md-expansion-panel>
                        <md-expansion-panel-header>
                            <md-panel-title>
                                GRAPHIC DESIGN INTERN
                            </md-panel-title>
                        </md-expansion-panel-header>

                        <h2>Unpaid, Part-time, Current students only</h2>
                        <p style="font-weight: bold">Responsibilities:</p>

                        <ul>
                            <li>Produce appealing graphics for social media campaigns</li>
                            <li>Design and develop layouts for marketing materials and a newsletter</li>
                            <li>Assist in the brand visual identity review and adjustment</li>
                            <li>Bring effective visual ideas from concept through to completion</li>
                        </ul>

                        <p style="font-weight: bold">Requirements:</p>
                        <ul>
                            <li>Current student looking for a credit</li>
                            <li>Working towards a BA or certificate from a Fine Arts program/Graphic Design school</li>
                            <li>Experience with Adobe InDesign, and proficiency in Adobe Photoshop and Adobe Illustrator</li>
                            <li>Experience in digital graphic design for internet</li>
                            <li>Must be a team player, creative and open-minded</li>
                            <li>Ready to take on challenges, not afraid to make mistakes and learn from them</li>
                            <li>Available to work 2-3 days per week for at least 3 months</li>
                        </ul>
                    </md-expansion-panel>

                    <md-expansion-panel>
                        <md-expansion-panel-header>
                            <md-panel-title>
                                PRODUCT MANAGEMENT INTERN
                            </md-panel-title>
                        </md-expansion-panel-header>

                        <h2>Unpaid, Part-time, Current students only</h2>
                        <p style="font-weight: bold">Responsibilities:</p>

                        <ul>
                            <li>Participate in the definition and documentation of user experience and flow</li>
                            <li>Adapt UI messaging following guidelines</li>
                            <li>Support development of UI/UE metrics and analytics</li>
                            <li>Test new development phases</li>
                            <li>Support project management process</li>
                            <li>Monitor competitors’ platforms and UI/UE</li>
                        </ul>

                        <p style="font-weight: bold">Requirements:</p>
                        <ul>
                            <li>Current student looking for a credit</li>
                            <li>Analytical skills</li>
                            <li>Basic project management experience</li>
                            <li>Experience in web / app development and management preferred</li>
                            <li>Must be a team player, creative and open-minded</li>
                            <li>Ready to take on challenges, not afraid to make mistakes and learn from them</li>
                            <li>Available to work 2-3 days per week for at least 3 months</li>
                        </ul>
                    </md-expansion-panel>

                    <md-expansion-panel>
                        <md-expansion-panel-header>
                            <md-panel-title>
                                DIGITAL MARKETING INTERN
                            </md-panel-title>
                        </md-expansion-panel-header>

                        <h2>Unpaid, Part-time, Current students only</h2>
                        <p style="font-weight: bold">Responsibilities:</p>

                        <ul>
                            <li>Participate in the development and post social media campaigns</li>
                            <li>Manage editorial calendar</li>
                            <li>Research topics and content opportunities</li>
                            <li>Support newsletter email campaigns and outreach</li>
                            <li>Provide administrative support to the marketing activity</li>
                            <li>Collaborate with external partners and graphic designers</li>
                        </ul>

                        <p style="font-weight: bold">Requirements:</p>
                        <ul>
                            <li>Current student looking for a credit</li>
                            <li>Pursuing a Bachelors Degree in marketing, communications, etc.</li>
                            <li>Digital media savvy</li>
                            <li>Social media marketing understanding and experience</li>
                            <li>Must be a team player, creative and open-minded</li>
                            <li>Possess excellent written and verbal communication skills</li>
                            <li>Ready to take on challenges, not afraid to make mistakes and learn from them</li>
                            <li>Available to work 2-3 days per week for at least 3 months</li>
                        </ul>
                    </md-expansion-panel>
                </md-accordion>
            </div>
        </div>
    </div>
</section>

