<section class="bg-white">
    <div class="container student">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For employers </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                      In the 21st century, employers face three obstacles between them and retaining talented employees:
                    </span>
                </div>
                <div class="pt-4">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="../assets/images/home/employers/shutterstock_683822254.png">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Card title</h4> -->
                                    <p class="card-text">Lifetime employment is a thing of the past. Employees are less loyal to their employers, switching jobs the moment better opportunities arise.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="../assets/images/home/employers/woman_ocean.jpg">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Card title</h4> -->
                                    <p class="card-text">Employees’ desire for work-life balance influences their career choices.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 hidden-lg-up"></div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="../assets/images/home/employers/shutterstock_342636668.png">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Card title</h4> -->
                                    <p class="card-text">Employees care deeply about their children's education, which can negatively affect their job-focus.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
                <figure class="figure">
                        <img src="../../../../assets/images/home/companies/Q17Graph.jpg" class="figure-img img-fluid rounded" style="width:600px">
                        <figcaption class="figure-caption">MyKlovr survey of working parents, August 2017</figcaption>
                      </figure>
        </div>

        <div class="col-md-12 col-lg-6 letters-section p-40 align-self-center">
            <div class="mkd-st-title-holder">
                <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                    <span> The worries of getting a child into college </span>
                </h2>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-text-holder" style="margin-bottom: 24px;">
                <span class="mkd-st-text-text" style="font-size: 20px;">
                    Did you know that most parents of college bound students do not know how or where to look to find the best college for their children?
                </span>
            </div>

            <div class="mkd-st-text-holder">
                <span class="mkd-st-text-text">
                    Additionally, they do not know how to help their children improve their academic rankings, including their ever-important SAT scores. An even bigger concern on their minds today is how they will pay for college. <br>
                    Approximately 70% of employees who have high school-aged college-bound children are very or extremely concerned about college-related challenges and more than 50% recognize that they should be more involved in getting their child ready for college.
                </span>
            </div>
        </div>
    </div>
</section>

<section class="bg-myklovr">
    <div class="container student">
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title">
                        <span> The first ever HR benefit focusing on educational planning </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px; border-color: rgb(65, 65, 100)"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text" style="color: #333; font-size: 16px;">
                        To find solutions to these obstacles, myKlovr performed a first-of-its-kind survey. We discovered that over one-third of working adults would forgo a significant part of their salary to ensure that their high school-aged children had access
                        to a virtual college advisor. <br>
                        To meet this growing demand, myKlovr has created the world’s first virtual college advisor. It is an invaluable tool that you can seamlessly incorporate into your company’s benefits package.
                    </span>
                </div>                
            </div>
        </div>
    </div>
</section>

<section class="bg-white light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
            <!-- <img style="height: 950px;width: 550px;" class="img-responsive" src="../../../assets/images/employeers/emp.jpg"> -->
            <img class="img-fluid" src="../../../../assets/images/home/employers/kid_parent.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section text-center align-self-center">
            <div class="mkd-st-title-holder">
                <h2 class="mkd-st-title">
                    <span> How employees benefit from a virtual college advisor </span>
                </h2>
            </div>
            
            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description">By providing myKlovr to your employees, they gain a powerful platform to help their children through what is often a confusing and stressful time. Our virtual advisor provides personalized guidance and connects students to their teachers,
                    parents, and counselors. We help students and their families with college research, standardized tests, financial planning, and college applications. </p>
            </div>

            <div class="pt-4 pb-4">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-check" style="font-size: 20px; margin-right: 5px;color:rgb(65, 65, 100);"></i>Maximizes the likelihood of a student being admitted to college</li>
                    <li class="list-group-item"><i class="fa fa-check" style="font-size: 20px; margin-right: 5px;color:rgb(65, 65, 100);"></i>Provides the student and their parents with personalized goals and tracks their progress</li>
                    <li class="list-group-item"><i class="fa fa-check" style="font-size: 20px; margin-right: 5px;color:rgb(65, 65, 100);"></i>Connects the student with specific, relevant resources and educational professionals</li>
                    <li class="list-group-item"><i class="fa fa-check" style="font-size: 20px; margin-right: 5px;color:rgb(65, 65, 100);"></i>Assists the student and their parents in evaluating and selecting colleges</li>
                    <li class="list-group-item"><i class="fa fa-check" style="font-size: 20px; margin-right: 5px;color:rgb(65, 65, 100);"></i>Provides a unique platform for assembling the student’s college application portfolio</li>
                    <li class="list-group-item"><i class="fa fa-check" style="font-size: 20px; margin-right: 5px;color:rgb(65, 65, 100);"></i>Connects the student with suitable options for financing, scholarships, and internships</li>
                </ul>
            </div>
            
            <br>
            <br>
        </div>
        <div class="col-md-12 col-lg-6 letters-section text-center align-self-center">
            <div class="mkd-st-title-holder">
                <h2 class="mkd-st-title">
                    <span> How companies benefit from a virtual college advisor </span>
                </h2>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description">MyKlovr college counseling platform is very relevant to parents of high school-aged college-bound students, who are the core employee demographic of ages 35-55.</p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description">MyKlovr can help differentiates your employer “value proposition,” and thus increase your attractiveness in the employer marketplace. As a result, you will be able to attract more high-quality candidates and reduce your recruitment cost.</p>
                <ul style="margin: 0px 100px">
                    <li>
                        47% of workers surveyed would expect the myKlovr benefit or recommend it to their new employer if they were looking for a job.
                    </li>
                </ul> 
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description">As myKlovr alleviates employees’ stress over their children’s futures, you will discover an increase in employee productivity and overall happiness. </p>
                <ul style="margin: 0px 100px">
                    <li>
                        43% of workers surveyed expect that with a digital college counseling service they would be more focused and productive at work.
                    </li>
                </ul> 
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description">Since myKlovr is part of your company’s benefits package, employee loyalty will increase, convincing them to remain with your company even if more lucrative opportunities should arise. With lower employee turnover, you will save money
                        on recruitment and retention. </p>
                <ul style="margin: 0px 100px">
                    <li>
                        67% of workers surveyed would feel a stronger sense of loyalty towards their employer if it provided them with a digital college advisor benefit.
                    </li>
                </ul> 
            </div>
        </div>
        <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
            <!-- <img style="height: 950px;width: 550px;" class="img-responsive" src="../../../assets/images/employeers/emp.jpg"> -->
            <img class="img-fluid" src="../../../../assets/images/home/employers/kid_parent.jpg">
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/public-private-schools/young-people.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section p-25 align-self-center">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Flexible and easy-to-manage program </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Employers can structure their after-tax program to share as much or as little of the cost with their employees as they choose. It requires minimum implementation, onboarding, and maintenance from the company HR team. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 letters-section p-25 text-center align-self-center">    
            <div class="mkd-st-title-holder">
                <h2 class="mkd-st-title">
                    <span> Recruit best graduate employees </span>
                </h2>
            </div>
    
            <div class="mkd-separator-holder clearfix  mkd-separator-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>
    
            <div class="mkd-st-title-holder">
                <p class="header-description">Soon the myKlovr platform will be available for insight driven graduate recruitment.</p>
            </div>
            <div class="mkd-st-title-holder">
                <p>Our artificial intelligence, married with our data-rich student base will enable companies to identify talent who best fit their needs and culture. Not to mention reducing recruiting costs, and the organizations average cost per hire.</p>
            </div>
    
            <!-- <div class="mkd-st-title-holder">
                <p class="header-description">Link "contact us" to the Contact Us page have questions or would like additional information. </p>
            </div> -->
        </div>

        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/employers/business_people.jpg">
        </div>
    </div>
</section>

<section class="container-parallax">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding:0px;">
                <h2 class="mkd-st-title title-parallax">
                    <span> For employers</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!--<p class="description-parallax"> And then there is that big moment that changes everything, and you are told, “Congratulations, you are hired”. By applying all the tools and resources myKlovr has to offer, this journey will be one where you are NEVER alone. </p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="assets/files/myKlovr HR benefit brochure.pdf" class="button" download><button type="button" class="btn btn-myklovr btn-rounded" style="white-space: normal;">myKlovr HR benefit brochure </button> </a>
                <a href="assets/files/myKlovr HR benefit planning documentation.pdf" class="button" download> <button type="button" class="btn btn-myklovr btn-rounded" download style="white-space: normal;">myKlovr HR benefit planning documentation </button></a>
            </div>
        </div>
    </div>
</section>

<section class="contact-us-container">
    <div class="container-fluid">
        <div class="row d-flex justify-content-sm-center align-items-center">
            <div class="col-md-6 title-contact-container">Feel free to contact us if you have questions or would like additional information.</div>
            <div class="col-md-6 text-center">
                <button class="btn btn-myklovr btn-rounded" type="button" (click)="ContactUs()">REQUEST INFORMATION</button>
            </div>
        </div>
    </div>
</section>