<section class="bg-white companies">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12 text-center p-image">
                <img class="img-rounded img-responsive image-parallax" src="../../../../assets/images/home/companies/Q7-Graph.jpg">
            </div>
            <div class="col-lg-6 col-12 letters-section p-25">
                <div class="mkd-st-title-holder">
                    <p class="header-title"> For Companies </p>
                </div>
    
                <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
    
                <div class="mkd-st-title-holder">
                    <p class="text-justify"> In the 21st century, employers face three obstacles between them and retaining talented employees: </p>
                    <ul class="header-description">
                        <li>
                            <p>Lifetime employment is a thing of the past. Employees are less loyal to their employers, switching jobs the moment better opportunities arise.</p>
                        </li>
                        <li>
                            <p>More so than any other time in history, employee's desire for work-life balance influences their career choices.  </p>
                        </li>
                        <li>
                            <p>Employees care deeply about their children's education, which can negatively affect their job-focus.</p>
                        </li>
                    </ul>
                    <p class="text-justify">Approximately 70% of employees who have high school-aged college-bound children are very or extremely concerned about college-related challenges and more than 50% recognize that they should be more involved in getting their child ready for college.</p>
                </div>
            </div>
        </div>
    </div>
</section>