<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 gdolfino"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Gustavo Dolfino, Founder & CEO </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    Prior to myKlovr, Gustavo was founder and CEO of WhiteRock Capital Partners, Inc and The WhiteRock Group, LLC. Before founding WhiteRock, Gustavo was a senior investment banker at UBS, Smith Barney and JE Capital. In addition to his career in investment banking, Gustavo founded Cancer Frontiers Inc. an internet based B2B provider of genetic oncology drugs. Mr. Dolfino is a frequent contributor on CNN and CNBC, he has an MBA from Thunderbird and a BBA from The George Washington University.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/gustavodolfino/" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Jason Bowman, Global President & Co-Founder </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    Jason, a true entrepreneur has helped develop many businesses over his professional career. Prior to joining myKlovr, he Co-Founded My Weather Concierge, a top tier weather forecaster platform. Jason was the Senior Vice President of National Media Sales at SheKnows Media, the number-one women's lifestyle digital media platform. He also spent almost ten years with MTV, where he was a Senior Account Executive. He is building myKlovr to provide his daughters a student platform which will help improve their chances of getting into college.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/jasonbowman1974/" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
    <div class="col-lg-6 col-12 jbowman"></div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 hwen"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Hui-Wen Wang, Chief Technology Officer </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    Hui-Wen is a seasoned technology leader. He worked at Citibank and Cablevision where he was responsible for the technology strategy, product roadmap, enterprise architecture and development of Mobile App, Internet Portal, Digital Marketing Platform, and Content Management System. At myKlovr, Hui-Wen leads the technology teams, and develops Big Data and Artificial Intelligence driven platform. Hui-Wen holds a PhD degree in Physics and Master degree in Computer Science. He is passionate about education, as he taught college math, physics, and computer classes.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/huiwenwang/" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Piotr Jurjewicz, Chief Strategy & Marketing Officer </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    Piotr spent years leading strategic marketing functions in multi-million-dollar consumer goods businesses. He has lived and worked with SABMiller in six countries on three continents, including Europe, Latin America, and the US. Piotr has an MBA from Nottingham Trent University and knows a lot about stuff like market segmentation, growth strategy, portfolio development, brand equity, media, and communications, etc. His son, Ignacy is a college bound high school student so Piotr has a vested, personal interest in making myKlovr the best college counseling service in the world!
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/piotrjurjewicz/" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
    <div class="col-lg-6 col-12 pjurjewicz"></div>
  </div>
</section>

<!-- <section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 abrams"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span>Steve Abrams, Director of Sales </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    Before joining myKlovr as Director of Sales, Steve has had a lot of success in building winning sales teams
in the PEO industry (Professional Employer Organization) as VP of Sales for Selective HR. More recently
Steve was Managing Director of PEO Source one of the country’s largest PEO broker/consultant firms as
well as Founder/CEO of HRO Source. He looks forward to bringing the power of the myKlovr platform to
millions of college bound students including his own son who is a college freshman.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section> -->
<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 aliang"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span>  Alex Liang, Digital Marketing Manager </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
Alex is passionate about eCommerce and digital marketing. Prior to joining myKlovr, he was the founder
and search marketing strategist of CreditCardXpo.com, one of the first credit card comparison &amp;
application sites. He spent over 10 years building his business and learning the science of digital
marketing. Alex was a catalyst in the credit card industry, possessing technical expertise and leadership
qualities that propelled his company’s growth and success. He has a bachelor&#39;s degree in Computer
Science from Binghamton University. He is also a handyman and enjoys tackling home improvement
projects on the weekends.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a target="_blank" href="https://www.linkedin.com/in/alex-liang-685253146/" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Fanny Heneine, Head of Data Science and Analytics </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    Fanny thinks in numbers and algorithms. With methods like random forest or nearest neighbors, she is contributing to making myKlovr your virtual college advisor. She has lived on three continents and has completed a Master in Computational Science and Engineering at Harvard University. However, Fanny initially studied civil engineering, but later realized she wanted to be a data scientist, which is why she is very motivated to implement a college counseling tool that will help students avoid those detour in their college curriculum.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/fanny-heneine-763502a3/" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
    <div class="col-lg-6 col-12 fheneine"></div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 kunli"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Kunli Niu, Data Science Officer </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
A Graduate of the University of Michigan with a Master in Applied Statistics. Kunli has a strong
background in data analysis, predictive modeling and machine learning. Kunli is passionate about
personalized recommendation platform and thinks creating a digital college counselor is very important,
especially for international students like herself. With solid academic background and strong work ethic,
Kunli is helping myKlovr become an excellent Artificial-Intelligence- Driven education management
platform.                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/kunliniu" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> David Rips, Head of Product </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    David is a product manager and web developer working hard to make sure that myKlovr works smoothly and evolves quickly. David is passionate about spreading education and increasing people's chances of getting into college, and thinks creating a virtual counselor / college advisor is very important. David studied at Rutgers University and majored in Comparative Literature and Philosophy. As a teacher, David has worked with college students, as well as kids and adults with learning disabilities. David likes to read and tinker with code, as well as spending as much time as possible outdoors.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a href="https://www.linkedin.com/in/david-rips-11723a114/" target="_blank" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
    <div class="col-lg-6 col-12 drips"></div>
  </div>
</section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 broder"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span> Thomas Broderick, Academic Contributor </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
                    As a former English and Social Studies High School teacher, Thomas routinely helped students
successfully navigate the High School – College transition. As an advisor to myKlovr, Thomas has been
instrumental in vetting our academic, personal, and professional recommendations and content
creation. In addition, Thomas writes an educational blog for us and has a large following of both,
educators, and students. He currently resides in California.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a target="_blank" href="https://www.linkedin.com/in/thomas-broderick-61653814b/" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-white p-t-50">
    <div class="row">
      <div class="col-lg-6 col-12 perfil-section">
        <div class="mkd-st-title-holder text-center">
          <h2 class="mkd-st-title">
            <span> Kendell Shaffer, Parent Blog Writer </span>
          </h2>
        </div>
        <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
          <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
        </div>
        <div class="mkd-st-text-holder text-justify">
            <span class="mkd-st-text-text">
              Kendell is a writer and producer living in Venice Beach, California with her two teenagers and theme park designer husband. She writes young adult novels and teaches screenwriting at high schools throughout Los Angeles. Kendell’s daughter is a high school senior and immersed in college applications. Her son, a high school sophomore, is just starting to think about colleges. Kendell started and leads two Facebook groups supporting parents in their search of best schools for their children: High School Heaven: Searching For Perfection in Los Angeles and University Utopia: Searching For the Perfect College.
            </span>
        </div>
        <div class="linkedin-icon">
            <span class="bg-lki-icon">
                <a target="_blank" href="https://www.linkedin.com/in/kendellshaffer/" style="padding: 10px">
                    <i class="fa fa-linkedin cl-lki-icon"></i>
                </a>
            </span>
        </div>
      </div>
      <div class="col-lg-6 col-12 kshaffer"></div>
    </div>
  </section>

<section class="bg-white p-t-50">
  <div class="row">
    <div class="col-lg-6 col-12 alec"></div>
    <div class="col-lg-6 col-12 perfil-section">
      <div class="mkd-st-title-holder text-center">
        <h2 class="mkd-st-title">
          <span>  Alec Jones, Founder of Christopher Bot </span>
        </h2>
      </div>
      <div class="mkd-separator-holder clearfix text-center mkd-separator-center">
        <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
      </div>
      <div class="mkd-st-text-holder text-justify">
                <span class="mkd-st-text-text">
Alec Jones, a 15 year-old grade 10 student from Victoria, British Columbia, developed Christopher Bot to
provide teenager like himself, with homework assistance. He is a great example of Generation Z
entrepreneurial spirit.
                </span>
      </div>
      <div class="linkedin-icon">
                <span class="bg-lki-icon">
                    <a target="_blank" href="https://www.linkedin.com/in/alec-jones-6b696bb2/" style="padding: 10px">
                        <i class="fa fa-linkedin cl-lki-icon"></i>
                    </a>
                </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container-fluid our-team">
      <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-10 text-center">
              <div class="mkd-st-title-holder">
                  <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                      <span> Interns Team </span>
                  </h2>
              </div>

              <div class="mkd-separator-holder clearfix  mkd-separator-center">
                  <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Boxuan Zhao.jpg" style="width: 100%">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Boxuan Zhao</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Han Lin.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Han Lin</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Karandeep Singh.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Karandeep Singh</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Kenny Davis.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Kenny Davis</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Sahil Gandhi.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Sahil Gandhi</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Susan Chen.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Susan Chen</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Tiantian Chen.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Tiantian Chen</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Tingyu Qiao.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Tingyu Qiao</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Victorien Bationo.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Victorien Bationo</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> 
                                <img src="./assets/images/home/our-team/interns-team/Zeqing Niu.jpg">
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Zeqing Niu</h3> 
                                  <!-- <small>Managing Director</small> -->
                                  <br>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>