<section class="bg-white">
    <div class="container mision">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> Our mission </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        MyKlovr, virtual counselor guiding college bound students and their parents every step of the way through the college admissions process, and well beyond.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container-proprietary">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12" style="padding:0px;">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title title-proprietary">
                        <span> Our proprietary AI solutions </span>
                    </h2>
                </div>

                <div class="container-div-collapse">
                    <md-accordion>
                        <md-expansion-panel [expanded]="step === 0" hideToggle="true" (opened)="setStep(0)">
                            <md-expansion-panel-header>
                                <md-icon fontSet="fontawesome" fontIcon="fa-line-chart" class="font-icon"></md-icon>
                                <md-panel-title>
                                  PERSONALIZED ARTIFICIAL INTELLIGENCE RECOMMENDATIONS
                                </md-panel-title>
                            </md-expansion-panel-header>

                            <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                    MyKlovr recognizes that every college bound student is different and there are no two identical paths to successful college admissions. Our proprietary, data driven machine learning Personalized Artificial Intelligence Recommendations tool leverages extensive data sets and patterns as well as student user profile and assessment insights to provide users with personalized goals and step by step milestone recommendations on how to increase their chances of getting into college and relevant to their specific needs, strengths and weaknesses.
                                </span>
                            </div>
                        </md-expansion-panel>

                      <md-expansion-panel [expanded]="step === 1" hideToggle="true" (opened)="setStep(0)">
                        <md-expansion-panel-header>
                          <md-icon fontSet="fontawesome" fontIcon="fa-id-card" class="font-icon"></md-icon>
                          <md-panel-title>
                            RETURN ON IDENTITY ™
                          </md-panel-title>
                        </md-expansion-panel-header>

                        <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                     Progress feedback is critical to commitment, perseverance and ultimately success. Our proprietary Return On Identity ™ tool benchmarks an individual college bound student against other online community platform members, college freshmen as well as individually defined reference groups. It allows users to assess how the achievement of recommended goals is going to impact their standing and college admission chances, thus rewarding students for consistent use of the education and career planning myKlovr program.
                                </span>
                        </div>
                      </md-expansion-panel>

                        <md-expansion-panel [expanded]="step === 2" hideToggle="true">
                            <md-expansion-panel-header>
                                <md-icon fontSet="fontawesome" fontIcon="fa-user" class="font-icon"></md-icon>
                                <md-panel-title>
                                  PARENTS' COLLEGE ADVISOR
                                </md-panel-title>
                            </md-expansion-panel-header>

                            <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                    Parents, overwhelmed by the college admissions process, use myKlovr's virtual college advisor to work hand in hand with their college bound children, their children's teachers, and college counselors to help set them on the correct path to academic, personal, and professional success.
                                </span>
                            </div>
                        </md-expansion-panel>

                        <md-expansion-panel [expanded]="step === 3" hideToggle="true">
                            <md-expansion-panel-header>
                                <md-icon fontSet="fontawesome" fontIcon="fa-laptop" class="font-icon"></md-icon>
                                <md-panel-title>
                                  COLLEGE COUNSELOR'S TOOL
                                </md-panel-title>
                            </md-expansion-panel-header>

                            <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                    High schools adopt the myKlovr platform as a personalized tool to assist college counselors leverage their experience and expertise in a more effective manner, providing every child with a personalized path to a successful and fulfilling life. MyKlovr extensive datasets can also help the schools improve enrollment, retention, school rank, and attrition rates.
                                </span>
                            </div>
                        </md-expansion-panel>

                        <md-expansion-panel [expanded]="step === 4" hideToggle="true">
                            <md-expansion-panel-header>
                                <md-icon fontSet="fontawesome" fontIcon="fa-graduation-cap" class="font-icon"></md-icon>
                                <md-panel-title>
                                    UNIQUE EMPLOYEE BENEFIT
                                </md-panel-title>
                            </md-expansion-panel-header>

                            <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                    Companies, investigating solutions to retain high functioning employees at a minimal cost, may offer myKlovr digital college advisor services to their employees as an employee benefit for themselves and their family, for their college bound children, who often have overstretched college counselors, and are unable to afford private college counseling. The myKlovr platform will also be available for insight driven graduate recruitment.
                                </span>
                            </div>
                        </md-expansion-panel>

                        <md-expansion-panel [expanded]="step === 5" hideToggle="true">
                            <md-expansion-panel-header>
                                <md-icon fontSet="fontawesome" fontIcon="fa-shopping-basket" class="font-icon"></md-icon>
                                <md-panel-title>
                                    VENDOR AND STUDENT CONNECTIONS
                                </md-panel-title>
                            </md-expansion-panel-header>

                            <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                    Vendors have the ability to offer their educational services and products through a double-sided, transparent marketplace, targeted directly to relevant consumers, as well as apply customer and product usage data to improve targeting, increase conversion rate, and expand consumer exposure for the product.
                                </span>
                            </div>
                        </md-expansion-panel>

                        <md-expansion-panel [expanded]="step === 6" hideToggle="true">
                            <md-expansion-panel-header>
                                <md-icon fontSet="fontawesome" fontIcon="fa-globe" class="font-icon"></md-icon>
                                <md-panel-title>
                                    EASE OF TECHNOLOGY TRANSFER
                                </md-panel-title>
                            </md-expansion-panel-header>

                            <div class="mkd-st-text-holder">
                                <span class="mkd-st-text-text">
                                    Business alliances: As the artificial intelligence engine runs on specific or local data, myKlovr college counseling platform is easily transferrable to adjacent sectors as well as from the US to other countries.
                                </span>
                            </div>
                        </md-expansion-panel>
                    </md-accordion>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="m-t-65">
                    <img class="img-responsive" src="../../../../assets/images/home/about-us/goals_iphone.png" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="yellow-bg" style="margin-bottom: -2px;">
    <div class="container p-60">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title">
                        <span> Our tech Incubator: "Built by Students, for Students" </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <p class="text-center">MyKlovr provides young inventors and entrepreneurs with the opportunity to take part in a new type of tech incubator.</p>
                    <p class="text-center">Students from around the world can highlight their technological genius, and myKlovr will help them achieve their full potential. They will receive a myriad amount of support, spanning from tech, to marketing. Another example myKlovr is helping students achieve their goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section>-->
    <!--<div class="container-overlap">-->
        <!--<div class="video-overlap">-->

        <!--</div>-->
        <!--<div class="video-wrap">-->
            <!--<video class="mkd-video" width="1920" height="800" preload="auto" loop="" autoplay="" muted="" src="http://sparks.mikado-themes.com/wp-content/uploads/2017/02/My-Movie3.mp4" style="width: 1372px; height: 773px;">-->
                <!--<source type="video/mp4" src="http://sparks.mikado-themes.com/wp-content/uploads/2017/02/My-Movie3.mp4">-->
            <!--</video>-->
        <!--</div>-->

        <!--<div class="m-t-150 p-relative text-center">-->
            <!--<h2 class="fz-46 white">-->
                <!--<span> Download myKlovr </span>-->
            <!--</h2>-->
            <!--<h5 class="m-t white">-->
                <!--<span>-->
                    <!--Carry your virtual college counselor in your pocket.-->
                <!--</span>-->
            <!--</h5>-->

            <!--<div class="m-t-50 text-center">-->
                <!--<a href="https://itunes.apple.com/sc/app/myklovr/id1194833527?mt=8" target="_blank" rel="noopener noreferrer">-->
                    <!--<img class="alignnone" src="https://imgur.com/mjPkUNz.png" alt="App Store button for myKlovr App" width="150" height="120">-->
                <!--</a>-->

                <!--<a href="https://play.google.com/store/apps/details?id=io.cordova.myklovr.development&amp;hl=en" target="_blank" rel="noopener noreferrer">-->
                    <!--<img class="alignnone" src="https://imgur.com/j6lnaqO.png" alt="Google Play Store button for myKlovr App" width="150" height="120">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
