<section class="bg-white">
    <div class="container school">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For high school students </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                            Thinking of your chances of getting into college? Does your High School college counselor have a few hundred advisees to assist? Are your parents worried about how to pay for college? It can all feel very overwhelming. MyKlovr has so many tools designed specifically to help you.
                    </span>
                </div>

                <div style="padding:20px;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3G-t-IwOXEM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/school-student/ipad_profile.png">
        </div>
        <div class="col-md-12 col-lg-6 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Personalized digital college counseling for every student </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> MyKlovr was created to make your life easier. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Its artificial intelligence enabled, college counselling tools help you find a college, the right one just for you. We help you plan your path to college admissions, break it down into manageable pieces, and deliver the results to you in an organized fashion. MyKlovr's virtual counselor uses the experience of other college bound students to show you how to create and adapt the tools for your individual needs and preferences. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white p-20">
    <div class="row">
        <div class="col-md-12 col-lg-6 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Holistic college application approach </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px;"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> We know it is not only about grades. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> College admissions officers are looking for both intellectual and personal qualities that make a college bound student special. These special qualities are reflected within your school or community involvement, extracurricular activities, etc. Your digital college advisor helps you unlock your full potential, and enhance your myKlovr profile showing what an outstanding and individualized college candidate you have developed into. </p>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-rounded img-responsive" src="../../../../assets/images/home/school-student/football-training.jpg">
        </div>
    </div>
</section>

<section class="bg-white p-20">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-rounded img-responsive" src="../../../../assets/images/home/school-student/scores.jpg">
        </div>

        <div class="col-md-12 col-lg-6 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Fun, rewards and recognition </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px;"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> And as you progress you should also have some fun along the way. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Watch your results skyrocket, compare yourself to other college bound students, and even collect achievement badges throughout your myKlovr journey. As you take this amazing path, you are able to collect award points, which are redeemable for all sorts of cool stuff in the myKlovr marketplace. </p>
            </div>

            <!-- <div class="progress-header">
                <span class="progress-title">SAT PREP</span>
                <span class="progress-percent">90%</span>
            </div>
            <div class="progress m-b-10">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:90%;background-color:rgb(65, 65, 100);">
                </div>
            </div>

            <div class="progress-header">
                <span class="progress-title">FIND SUMMER JOB</span>
                <span class="progress-percent">75%</span>
            </div>
            <div class="progress m-b-10">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:75%; background-color:rgb(65, 65, 100);">
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="yellow-container">
    <div class="row">
        <div class="col-md-12 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title-2"> Supportive networking </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px; border-color: rgb(65, 65, 100);"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle-2"> Invite your parents, teachers, and your college counselor to join your virtual Mentors team so they can work hand in hand with you, every step of the way, to help increase your chances of getting into college of your dreams. </p>
            </div>
        </div>
    </div>

    <div class="mkd-intro-bottom">
        <div class="mkd-additional-image-3 style_prevu_kit"></div>
        <div class="mkd-additional-image-1 style_prevu_kit"></div>
        <div class="mkd-intro-hero style_prevu_kit"></div>
        <div class="mkd-additional-image-2 style_prevu_kit"></div>
        <div class="mkd-additional-image-4 style_prevu_kit"></div>
    </div>
</section>

<section class="container-sign-up">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding:0px;">
                <h2 class="mkd-st-title title-sign-up">
                    <span> Sign up now! </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="description-sign-up">Getting into college has never been so easy, fun, and affordable!</p>
                <p class="description-sign-up">Start early. Your college preparation will be easier, and your student profile will have time to exponentially grow, transforming into a gem of a college application.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-myklovr btn-rounded" (click)="SignUp()">SIGN ME UP</button>
            </div>
        </div>
    </div>
</section>
