<home-slider></home-slider>

<section class="mkd-cta">
    <div class="mkd-call-to-action normal">
        <div class="container">
            <div class="col-12 text-center" style="padding: 10px;">
                <a [routerLink]="['/account/register/role/mentor']" target="_self" class="btn-effect-1 yellow-button cta-button">I'm a Mentor</a>
                <a [routerLink]="['/account/register/role/student']" target="_self" class="btn-effect-1 yellow-button cta-button">I'm a Student</a>
            </div>
        </div>
    </div>
</section>

<!--<section class="bg-white">-->
<!--<div class="container" style="padding-top:50px">-->
<!--<div class="row justify-content-center">-->
<!--<div class="col-12 col-md-12 col-lg-10 text-center">-->

<!--<h2 class="mkd-st-title">-->
<!--<span>-->
<!--Get Premium Membership-->
<!--</span>-->
<!--</h2>-->
<!--<app-plans></app-plans>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<section class="bg-white">
    <div class="container" style="padding-top:50px">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title">
                        <span>
                        MyKlovr, an AI based platform for academic, professional and personal progression.
                  </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
                <!-- <div class="vc_column-inner">
    <div class="wpb_wrapper">
      <div class="mkd-st mkd-content-aligment-center">
        <div class="mkd-st-inner">

        </div>
      </div>
    </div>
  </div> -->
  
            </div>
        </div>
        <div class="row justify">
            <div class="col-sm-1 col-md-3"></div>

            <div class="wpb_animate_when_almost_visible wpb_right-to-left right-to-left wpb_column vc_column_container col-sm-10 col-md-offset-0 col-md-6  wpb_start_animation animated">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p> MyKlovr is a virtual counselor for college bound students. We utilize artificial intelligence and data science to provide you with 
                                    personalized college counseling, direct access to your very own team of Mentors, and the very best tools and resources to help you fully 
                                    prepare for the college admissions process.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 col-md-3"></div>
        </div>
        <div class="row  justify-content-center" style="margin-top:20px">
            <div></div>

            <div class="wpb_animate_when_almost_visible wpb_left-to-right left-to-right wpb_column vc_column_container col-sm-10 col-md-6 wpb_start_animation animated">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_single_image wpb_content_element vc_align_left">
                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                    <img width="848" height="446" src="../../../assets/images/home/iphone2.png" class="vc_single_image-img attachment-full" alt="myKlovr Student Profile">
                                </div>
                            </figure>
                        </div>

                        <div class="vc_empty_space" style="height: 50px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-md-3"></div>

            <div class="wpb_animate_when_almost_visible wpb_right-to-left right-to-left wpb_column vc_column_container col-sm-10 col-md-offset-0 col-md-6  wpb_start_animation animated">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p>Are you a high school student, or a parent of a student who knows that a college education will be the springboard to a successful and fulfilling life? Are you wondering: ‘which college should I choose?’, ‘what are my chances
                                    of getting into college?’, ‘what should I do to get into the college of my dreams?’, ‘how will I be able to afford to pay for college?’.</p>

                                <h4 style="font-size: 30px; margin-top: 30px">
                                    <strong>Help is here!</strong>
                                </h4>
                                <p style="font-size: 18px;color: #3f3e65;">
                                    MyKlovr, helping you become the best you that you can be.
                                </p>

                                <!--<p>-->
                                <!--<a class="store-button" href="https://itunes.apple.com/sc/app/myklovr/id1194833527?mt=8" target="_blank" rel="noopener noreferrer">-->
                                <!--<img class="alignnone" src="https://imgur.com/mjPkUNz.png" alt="App Store button for myKlovr App" width="405" height="120">-->
                                <!--</a>-->

                                <!--<a class="store-button" href="https://play.google.com/store/apps/details?id=io.cordova.myklovr.development&amp;hl=en" target="_blank" rel="noopener noreferrer">-->
                                <!--<img class="alignnone" src="https://imgur.com/j6lnaqO.png" alt="Google Play Store button for myKlovr App" width="405" height="120">-->
                                <!--</a>-->
                                <!--</p>-->
                            </div>
                        </div>

                        <div class="vc_empty_space" style="height: 50px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-1 col-md-3"></div>
        </div>
    </div>
</section>

<section class="silver-bg">
    <div class="container" style="padding-top: 50px">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-9 text-center">
                <h2 class="mkd-st-title-32">
                    <span>Using myKlovr is easy</span>
                </h2>
                <div _ngcontent-c5="" class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div _ngcontent-c5="" class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 text-center">
                <h4>You set the pace and myKlovr guides you</h4>
            </div>
        </div>
    </div>

    <div class="mkd-section-inner"><br></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img class="card-img-top img-responsive image-r" src="/assets/images/home/home_1.png">
                    </div>
                    <div class="card-body landing-card" style="min-height: 0px">
                        <h4 class="card-title text-center">Complete Your Student Portfolio</h4>
                        <p class="mkd-st-text-holder text-center">Tell us about you. This allows myKlovr to provide you with personalized recommendations.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img class="card-img-top img-responsive image-r" src="/assets/images/home/home_2.png">
                    </div>
                    <div class="card-body landing-card" style="min-height: 0px">
                        <h4 class="card-title text-center">Receive Recommendations</h4>
                        <p class="mkd-st-text-holder text-center">MyKlovr recommends areas of focus and resources to help increase your chances of getting into college.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img class="card-img-top img-responsive image-r" src="/assets/images/home/home_3.png">
                    </div>
                    <div class="card-body landing-card" style="min-height: 0px">
                        <h4 class="card-title text-center">Stay on the Right Path</h4>
                        <p class="mkd-st-text-holder text-center">Your parents and teachers can support you. MyKlovr helps you track your progress.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img class="card-img-top img-responsive image-r" src="/assets/images/home/home_4.png">
                    </div>
                    <div class="card-body landing-card" style="min-height: 0px">
                        <h4 class="card-title text-center">Win and Have Fun</h4>
                        <p class="mkd-st-text-holder text-center">Secure achievement badges. Earn Klovr points and exchange them for prizes and discounts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mkd-section-inner"><br></div>
</section>

<section class="bg-white">
    <div class="container text-center" style="padding-top: 50px; padding-bottom: 50px;">
        <iframe width="560" height="315" style="width: 100%;height: 500px;" src="https://www.youtube.com/embed/EFAZzIIyRmI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<!-- /*GOALS*/ -->
<section class="yellow-bg">

    <div class="container" style="padding-top: 50px">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 text-center">
                <h2 class="mkd-st-title">
                    <span>Goals &amp; Lifelong Learning</span>
                </h2>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 text-justify">
                <span>
                Learning is a lifelong endeavor. MyKlovr is an artificial intelligence enabled a college advisor that helps you break down your journey into personalized goals and increases your chances of getting into the college of your dreams.
            </span>
            </div>
        </div>
    </div>
    <div class="mkd-section-inner"><br></div>
</section>

<section class="yellow-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="mkd-space">
                    <h4 class="mkd-iwt-title"><i class="fa fa-2x fa-check-square" style="color: #414164"></i> Holistic Student Portfolio</h4>
                    <div class="mkd-iwt-text-holder">
                        <p>
                            MyKlovr’s virtual counselor helps unlock your full potential. You start with comprehensive questionnaires. At the end of your college preparation, your myKlovr student profile is your showcase college application portfolio.
                        </p>
                    </div>
                </div>
                <div class="mkd-space">
                    <h4 class="mkd-iwt-title"><i class="fa fa-2x fa-magic" style="color: #414164"></i> Custom recommendations</h4>
                    <div class="mkd-iwt-text-holder">
                        <p>
                            Every college bound student's learning needs are different. Your digital college advisor offers you Personalized Artificial Intelligence Recommendations based upon your capability and your college preferences.
                        </p>
                    </div>
                </div>
                <div class="mkd-space">
                    <h4 class="mkd-iwt-title"><i class="fa fa-2x fa-cogs" style="color: #414164"></i> Assisted action plan</h4>
                    <div class="mkd-iwt-text-holder">
                        <p>
                            MyKlovr virtual counselor accompanies your planning and execution step by step, nudges you when necessary, and provides insightful yet comforting help as you clear hurdles on your way to college admissions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <div class="row justify-content-center">
                    <div class="col-7 col-sm8 col-md-6 col-lg-12 mkd-space">
                        <img width="600" height="1000" src="../../../assets/images/home/iphone.png" class="single_image-img attachment-full" alt="New Student Portfolio on mobile app" srcset="../../../assets/images/home/iphone.png 600w, ../../../assets/images/home/iphone.png 180w"
                            sizes="(max-width: 600px) 100vw, 600px">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="mkd-space">
                    <h4 class="mkd-iwt-title"><i class="fa fa-2x fa-shopping-basket" style="color: #414164"></i> Personalized marketplace</h4>
                    <div class="mkd-iwt-text-holder">
                        <p>
                            Need help achieving your goals? There are plenty of resources available out there but choosing those that are right for you is not easy. The myKlovr Marketplace suggests educational goods and services relevant to you.
                        </p>
                    </div>
                </div>
                <div class="mkd-space">
                    <h4 class="mkd-iwt-title"><i class="fa fa-2x fa-bar-chart" style="color: #414164"></i> Progress tracking</h4>
                    <div class="mkd-iwt-text-holder">
                        <p>
                            MyKlovr virtual counselor helps you stay focused on achieving your goals. Our future-modeling tool allows you to test different outcomes and predict which ones will benefit you the most.
                        </p>
                    </div>
                </div>
                <div class="mkd-space">
                    <h4 class="mkd-iwt-title"><i class="fa fa-2x fa-trophy" style="color: #414164"></i> Rewards &amp; recognition</h4>
                    <div class="mkd-iwt-text-holder">
                        <p>
                            As you progress, you see your chances of getting into college grow. You can compare yourself against others, win achievement badges and earn award points that you can exchange for prizes and discounts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="yellow-bg">
    <div class="container" style="padding-top: 10px">
        <div class="row justify-content-center">

            <div class="col-12 col-sm-10 col-md-8 col-lg-7 text-center">
                <h2 class="mkd-st-title">
                    <span>Goals Focused Networking</span>
                </h2>
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-7 text-justify">
                <span>
                    MyKlovr Mentors network brings together a college bound student, their parents and school faculty in one single location, connecting all together to provide and receive input, feedback, endorsements and support.
          </span>
            </div>
        </div>
    </div>
    <div class="mkd-section-inner"><br></div>
</section>
<section id="services" class="services-bg parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <div class="blog-card bg-cards">
                    <!-- //complete-portfolio -->

                    <div class="title-content">
                        <h4 class="blog-card-title">Student Portfolio</h4>

                        <div class="mkd-separator-fullw"></div>

                        <div class="intro">
                            <img src="../../assets/images/home/icons6c.png" class="img-responsive">
                        </div>
                    </div>

                    <!-- /.title-content -->

                    <div class="blog-card-info">
                        Create your college application portfolio and share it with your Mentors and colleges.
                    </div>

                    <!-- /.card-info -->

                    <div class="utility-info">
                        <div class="btn btn-services">Tell Your Story</div>
                    </div>

                    <!-- /.utility-info -->
                    <!-- overlays -->
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                    <!-- /.blog-card -->
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="blog-card bg-cards">
                    <div class="title-content">
                        <h4 class="blog-card-title">College Analytics</h4>

                        <div class="mkd-separator-fullw"></div>

                        <div class="intro">
                            <img src="../../assets/images/home/icons7c.png" class="img-responsive">
                        </div>
                    </div>

                    <!-- /.title-content -->

                    <div class="blog-card-info">
                        Get insights from our college database and use our tools for personalized recommendations.
                    </div>

                    <!-- /.card-info -->

                    <div class="utility-info">
                        <div class="btn btn-services">Choose Your Destination</div>
                    </div>

                    <!-- /.utility-info -->
                    <!-- overlays -->
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                    <!-- /.blog-card -->
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="blog-card bg-cards">
                    <div class="title-content">
                        <h4 class="blog-card-title">Action Plan</h4>
                        <div class="mkd-separator-fullw"></div>

                        <div class="intro">
                            <img src="../../assets/images/home/icons8c.png" class="img-responsive">
                        </div>
                    </div>

                    <!-- /.title-content -->

                    <div class="blog-card-info">
                        Review your goal recommendations, set up your action plan and involve your Mentors.
                    </div>

                    <!-- /.card-info -->

                    <div class="utility-info">
                        <div class="btn btn-services">Enjoy Your Journey</div>
                    </div>

                    <!-- /.utility-info -->
                    <!-- overlays -->
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                    <!-- /.blog-card -->
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-white">
    <div class="container" style="padding-top:50px;padding-bottom:50px">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title">
                        <span>
                          Testimonials &amp; Reviews
                      </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-12 col-md-6 mkd-space">
                <div class="col">
                    <p style="text-align: justify;margin-bottom: 36px;">MyKlovr is the first platform to link personalized goals to a vast array of powerful resources to get the individual to meet those goals. It's a fully integrated hub and network that is poised to ensure all the success the student
                        wants - from admissions to professional development. This tool is much needed and it is finally here.</p>
                    <div class="mkd-testimonial-bottom">
                        <div class="mkd-testimonial-image-holder" style="margin-top: -8px;">
                            <img width="150" height="150" src="https://imgur.com/Bj8JSGe.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="Sergio Costa" srcset="https://imgur.com/Bj8JSGe.jpg 150w, https://imgur.com/Bj8JSGe.jpg 200w" sizes="(max-width: 150px) 100vw, 150px">
                        </div>
                        <h5 class="mkd-testimonial-author">- Sergio Costa</h5>
                        <h6 class="mkd-testimonial-job">Director of Online Learning - CUNY School of Public Health</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mkd-space">

                <div class="col">

                    <div class="scrollbar" style="margin-bottom: 30px;" id="style-6">
                        <p>Through my career I've looked at many benefits outside of health related that can be offered to employees with little cost to the firm or the employee. This brings me to myKlovr. Given the price of the product and the services
                            it provides, in my mind it's a "no-brainer". The time, attention and stress the college process creates in an employee’s life, inevitably spills into the workplace. MyKlovr addresses this head on by acting as a personalized
                            coach to the employees’ kids, guiding their college process and providing discounted support services to them. Firms offering the myKlovr solution to their employees will be on the cutting edge offering an employee benefit
                            that will truly be appreciated and utilized over many years. As far as I'm concerned, a firm has nothing to lose and much to gain by trying this.</p>

                        <div class="force-overflow"></div>
                    </div>

                    <div class="mkd-testimonial-bottom">
                        <div class="mkd-testimonial-image-holder" style="margin-top: -8px;">
                            <img width="150" height="150" class="attachment-thumbnail size-thumbnail wp-post-image" src="assets/images/home/Stan%20Friedman.jpg" alt="Stan Friedman" sizes="(max-width: 150px) 100vw, 150px">
                        </div>
                        <h5 class="mkd-testimonial-author">- Stan Friedman</h5>
                        <h6 class="mkd-testimonial-job">Sr. Global Human Resource Executive</h6>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>