.portfolio-container-base{
  margin-bottom: 20px;
}
.removed-item {
  animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes removed-item-animation {
  from {
      opacity: 1;
      transform: scale(1);
  }

  to {
      opacity: 0;
      transform: scale(0);
  }
}

.restored-item {
  animation: 
      /*make sure to open space up before bringing the item into position*/
      openspace .3s ease forwards, 
      restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes openspace {
  to {
      height: auto;
  }
}

@keyframes restored-item-animation {
  from {
      opacity: 0;
      transform: scale(0);
  }

  to {
      opacity: 1;
      transform: scale(1);
  }
}

.separator{
  border: 2px solid #FDCE0C;
  background: #FDCE0C;
  margin-top: 0px;
}
.title-section{
  margin-bottom: 0px;
  color:#191332;
  padding: 0.75rem 0rem;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.container-title {    
  font-size: 16px;
  /* font-weight: bold; */
}
.container-info-icon {
}
.title-section:hover {
  /* background-color: #FDCE0C;
  color: white; */
  box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.7);
  cursor: pointer;
}
.refresh-container-btn{
  margin-top: -30px;
  background: #FDCE0C;
  color: #191332;
  font-size: 16px;
  font-weight: 500;
}


/*SPECIFIC CSS*/