<section class="bg-white">
    <div class="container universities">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For colleges and universities </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <p class="mkd-st-text-text question">
                            Are you continuously balancing the quality of education you provide, size and quality of your student body, and budgets?
                    </p>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        When candidates apply online to ever higher number of colleges, more and more applications land on college admissions desks and personal interviews become impossible to conduct. It becomes increasingly difficult to attract and choose students that are right specifically for your college or university.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card">
                    <img class="card-img-top img-responsive" src="../../../../assets/images/home/college-universities/graduated.jpg">
                    <div class="card-body">
                        <div class="mkd-st-title-holder">
                            <p class="header-title"> AI enabled college advisor </p>
                        </div>
                        <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                            <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                        </div>
                        <div class="mkd-st-title-holder">
                            <p class="header-description"> MyKlovr's artificial intelligence enabled platform assists college bound students in their preparation for college admissions. Our holistic assessment tools and personalized recommendations enable us to individually pair each student with the best school, increasing their chances of getting into college, or a college of their choosing. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card">
                    <img class="card-img-top img-responsive" src="../../../../assets/images/home/college-universities/friend-group.jpg">
                    <div class="card-body">
                        <div class="mkd-st-title-holder">
                            <p class="header-title"> Reach out to best candidates </p>
                        </div>
                        <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                            <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                        </div>
                        <div class="mkd-st-title-holder">
                            <p class="header-description"> MyKlovr offers colleges and universities a two-way, highly targeted communication channel to connect with relevant students from our extensive 13-18 year-old user base. Additionally, our core data science capabilities can be applied to colleges or universities own student databases to generate powerful insights, which help improve recruitment, retention, ranking, and reputation. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-parallax">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex align-items-center p-image">
                <img class="img-rounded img-responsive image-parallax" src="../../../../assets/images/home/college-universities/stats.jpg">
            </div>
            <div class="col-lg-6 col-12 letters-section p-25">
                <div class="mkd-st-title-holder">
                    <p class="header-title"> Deep candidate insights </p>
                </div>
    
                <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
    
                <div class="mkd-st-title-holder">
                    <p class="header-description"> Students build their application portfolios over time, providing myKlovr with a wealth of insights. These insights are available to colleges and universities, drastically increasing your candidates understanding in your college admissions decision-making processes. </p>
                </div>
                
                <div class="m-v-16 text-center">
                    <button type="button" class="btn btn-myklovr btn-rounded" (click)="ContactUs()">REQUEST INFORMATION</button>
                </div>
            </div>
        </div>
    </div>
</section>