<section style='padding-top: 20px;'>
    <div class="login-box card animated fadeIn">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" #f="ngForm" (ngSubmit)="changePassword(f.form.valid)">
                <h3 class="box-title m-b-20">Change Password</h3>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" id="currentpassword" type="password" [(ngModel)]="actualPassword" #contactcurrentpass="ngModel" required name="currentpassword" placeholder="Current password">
                        <div class="md-errors-spacer animated fadeInUp" [hidden]="contactcurrentpass.valid || contactcurrentpass.untouched">
                            <div *ngIf="contactcurrentpass.errors && contactcurrentpass.errors.required" class="animated fadeIn">
                                <small class="form-control-feedback"> Required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" id="newPassword" type="password" [(ngModel)]="newPassword" #contactnewpass="ngModel" required name="newpassword" placeholder="New password">
                        <div class="md-errors-spacer animated fadeInUp" [hidden]="contactnewpass.valid || contactnewpass.untouched">
                            <div *ngIf="contactnewpass.errors && contactnewpass.errors.required" class="animated fadeIn">
                                <small class="form-control-feedback"> Required</small>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" id="rnewPassword" type="password" [(ngModel)]="rnewPassword" #contactrnewpass="ngModel" required name="rnewpassword" placeholder="Reenter new password">
                        <div class="md-errors-spacer animated fadeInUp" [hidden]="contactrnewpass.valid || contactrnewpass.untouched">
                            <div *ngIf="contactrnewpass.errors && contactrnewpass.errors.required" class="animated fadeIn">
                                <small class="form-control-feedback"> Required</small>
                            </div>

                        </div>
                        <div *ngIf="newPassword !== rnewPassword" class="animated fadeIn">
                            <small class="form-control-feedback"> Must be equal to new password</small>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-12">
                        <button class="btn btn-myklovr text-uppercase" type="submit">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>