<section>
    <h4 class="header-title">SAT</h4>
    <div class="row">
        <div *ngFor ="let sat of container?.sat; let i = index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row tag-sat" id="sat-{{i}}">
                <!-- <div class="tag-icons">
                    <a (click)="removeItem(i)"><i class="fa fa-remove fa-black"></i></a>
                </div> -->
                <div class="row pointer" (click)="open(false,i,content)">
                    <div class="col-lg-12">
                        <div class="row margin-t-b">
                            <div class="col-lg-12 d-flex align-items-center">
                                <label class="title-sat"></label>
                            </div>
                            <div class="col-lg-4 b-r margin-t-b">
                                <div class="round-kpi">
                                    <span>{{sat?.evidence_based || "0"}}</span>
                                </div>
                                <div class="kpi-label">
                                    <span>Evidence-Based Reading and Writing</span>
                                </div>
                            </div>
                            <div class="col-lg-4 margin-t-b">
                                <div class="round-kpi">
                                    <span>{{sat?.reading || "0"}}</span>
                                </div>
                                <div class="kpi-label">
                                    <span>Reading</span>
                                </div>
                            </div>
                            <div class="col-lg-4 margin-t-b">
                                <div class="round-kpi">
                                    <span>{{sat?.writing_language || "0"}}</span>
                                </div>
                                <div class="kpi-label">
                                    <span>Writing and Language</span>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-t-b">
                            <div class="col-lg-12 d-flex align-items-center">
                                <label class="title-sat"></label>
                            </div>
                            <div class="col-lg-4 b-r margin-t-b">
                                <div class="round-kpi">
                                    <span>{{sat?.math || "0"}}</span>
                                </div>
                                <div class="kpi-label">
                                    <span>Math</span>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-t-b">
                            <div class="col-lg-12 d-flex align-items-center">
                                <label class="title-sat"></label>
                            </div>
                            <div class="col-lg-4 b-r margin-t-b">
                                <div class="round-kpi">
                                    <span>{{sat?.essay || "0"}}</span>
                                </div>
                                <div class="kpi-label">
                                    <span>Essay (optional)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{title_modal}}</h4>
            <button type="button" class="close" style="cursor:pointer" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-md-12" style="margin-bottom: 0px;">
                    <div *ngIf="show_alert" class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Alert!</strong> {{errorMessage}}
                    </div>
                </div>
                <div class="form-group col-md-7 fz-14">
                    <label class="col-form-label">Evidence-Based Reading and Writing:</label>
                    <!-- <input type="text" class="form-control" [(ngModel)] = "evidence_based" placeholder="Value"> -->
                    <div class="input-test">
                        <md-form-field>
                            <input mdInput type="number" min="200" max="800" step="1" [ngModel]="evidence_based" (ngModelChange)="evidence_based = $event">
                            <md-hint align="end">Range: 200 - 800</md-hint>
                        </md-form-field>
                    </div>
                </div>
                <div class="form-group col-md-5 fz-14">
                    <label class="col-form-label">Reading:</label>
                    <!-- <input type="text" class="form-control" [(ngModel)] = "reading" placeholder="Value"> -->
                    <div class="input-test">
                        <md-form-field>
                            <input mdInput type="number" min="10" max="40" step="1" [ngModel]="reading" (ngModelChange)="reading = $event">
                            <md-hint align="end">Range: 10 - 40</md-hint>
                        </md-form-field>
                    </div>
                </div>
                <div class="form-group col-md-7 fz-14">
                    <label class="col-form-label">Writing Language:</label>
                    <!-- <input type="text" class="form-control" [(ngModel)] = "writing_language" placeholder="Value"> -->
                    <div class="input-test">
                        <md-form-field>
                            <input mdInput type="number" min="10" max="40" step="1" [ngModel]="writing_language" (ngModelChange)="writing_language = $event">
                            <md-hint align="end">Range: 10 - 40</md-hint>
                        </md-form-field>
                    </div>
                </div>
                <div class="form-group col-md-5 fz-14">
                    <label class="col-form-label">Math:</label>
                    <!-- <input type="text" class="form-control" [(ngModel)] = "math" placeholder="Value"> -->
                    <div class="input-test">
                        <md-form-field>
                            <input mdInput type="number" min="200" max="800" step="1" [ngModel]="math" (ngModelChange)="math = $event">
                            <md-hint align="end">Range: 200 - 800</md-hint>
                        </md-form-field>
                    </div>
                </div>
                <div class="form-group col-md-7 fz-14">
                    <label class="col-form-label">Essay:</label>
                    <!-- <input type="text" class="form-control" [(ngModel)] = "essay" placeholder="Value"> -->
                    <div class="input-test">
                        <md-form-field>
                            <input mdInput type="number" min="2" max="8" step="1" [ngModel]="essay" (ngModelChange)="essay = $event">
                            <md-hint align="end">Range: 2 - 8</md-hint>
                        </md-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-myklovr" (click)="save_sat(content) && c('Close click')">Save</button>
        </div>
    </ng-template>
</section>