<div class="row">
    <div class="col-12">
        <!-- Nav tabs -->
        <app-ic0008 (EventOutput)="onEvent($event)"></app-ic0008>
        <br>
        <br>
        <app-ic0036></app-ic0036>
        <br>
        <br>
        <app-ic0016></app-ic0016>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <div class="row">
                        <div class="col-sm-7 col-md-10 d-flex align-items-center" data-toggle="collapse" data-target="#ic0037" aria-expanded="true" aria-controls="ic0037">
                            <span class="container-title">{{container_ic0037_name}}</span><span class="fa fa-info-circle container-info-icon" data-container="body" data-toggle="tooltip" data-placement="bottom" title="{{container_ic0037_tooltip}}"></span>
                        </div>
                        <!-- <div class="col-sm-5 col-md-3 text-right">
                            <div style="display: inline-block;">
                                <label class="switch">
                                    <input type="checkbox" [checked]="value" (change)="value = !value">
                                    <span class="slider round2"></span>
                                </label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <hr class="separator">
            </div>
        </div>
        <div id="ic0037" class="collapse show">
            <app-ic0017></app-ic0017>
            <br>
            <br>
            <app-ic0018></app-ic0018>
            <br>
            <br>
            <app-ic0019></app-ic0019>
        </div>
        <br>
        <br>
        <app-ic0020></app-ic0020>
        <br>
        <br>
        <app-ic0021></app-ic0021>
        <br>
        <br>
        <app-ic0022></app-ic0022>
        <!-- <br>
        <br>
        <app-ic0023></app-ic0023> -->
    </div>
</div>
