<section class="bg-white">
    <div class="container parents">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For parents </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        Being a parent is the most important job in the world. No technology will ever replace it. You want your child to achieve so many wonderful things, achieve more than you have. A college education is that gateway which will open to them so many possibilities.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/parents/family.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Getting your kid into college </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> But assisting your child throughout the college process can be extremely stressful and challenging. There is a plethora of options, and it is difficult to navigate them all. Which is correct? They all sound so good, but which is best for my child? </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> You can rely on your child's college counseling expert at school, but they are stretched to their max assisting hundreds of other students. And then there is the topic about how to pay for college. If only you had more time, more money and knew better what is best for your child. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white p-t-40">
        <div class="col-md-12 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title-2"> Introducing myKlovr to the rescue </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px;"></div>
            </div>
        </div>

    <div class="mkd-intro-bottom">
        <div class="mkd-additional-image-3 style_prevu_kit"></div>
        <div class="mkd-additional-image-1 style_prevu_kit"></div>
        <div class="mkd-intro-hero style_prevu_kit"></div>
        <div class="mkd-additional-image-2 style_prevu_kit"></div>
        <div class="mkd-additional-image-4 style_prevu_kit"></div>
    </div>
</section>

<section class="yellow-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image-phone">
            <img class="img-responsive" src="../../../../assets/images/home/parents/assesments-iphone.png" style="width: 350px">
        </div>
        <div class="col-md-12 col-lg-6 letters-section m-l-60">
            <div class="mkd-st-title-holder">
                <md-icon fontSet="fontawesome" fontIcon="fa-comment" class="font-icon"></md-icon>
                <div class="header-section">
                    <p class="header-title-3"> Virtual college advisor for every family </p>
                    <p class="header-description-3"> MyKlovr's college counselling tool guides you and your child throughout the college admissions process. MyKlovr's digital college advisor enables you to formulate a personalized plan for your college bound children, and offers you specific recommendations which fuel their progress. You receive the help required, allowing you to remain in control. </p>
                </div>
            </div>

            <div class="mkd-st-title-holder">
                <md-icon fontSet="fontawesome" fontIcon="fa-check" class="font-icon"></md-icon>
                <div class="header-section">
                    <p class="header-title-3"> Stay involved, always </p>
                    <p class="header-description-3"> Don't have time to check up on your child's homework or progress every night? MyKlovr homework and goal management functionality will soon help you develop your child's independence and responsibility. At the same time your virtual counselor allows you to remain involved every step of the way even remotely. </p>
                </div>
            </div>

            <div class="mkd-st-title-holder">
                <md-icon fontSet="fontawesome" fontIcon="fa-trophy" class="font-icon"></md-icon>
                <div class="header-section">
                    <p class="header-title-3"> Supportive network for your child </p>
                    <p class="header-description-3"> MyKlovr student profile is where your child builds their showcase portfolio for college admissions. It is also a hub that brings together adults who are supporting them in the pursuit of their goals – parents, teachers, their college counselor. </p>
                    <p style="font-size: 20px"> MyKlovr – making the hardest job in the world, parenting, just a little bit easier.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="container-sign-up">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding:0px;">
                <h2 class="mkd-st-title title-sign-up">
                    <span> Sign Up Now! </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="description-sign-up">Getting your child into college has never been so easy, straighforward, and affordable!</p>
                <p class="description-sign-up">Start early. Your child's college preparation will be easier, and their student profile will have time to exponentially grow, transforming into a gem of a college application.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-myklovr btn-rounded" (click)="SignUp()">SIGN ME UP</button>
            </div>
        </div>
    </div>
</section>
