.container-title {    
    font-size: 18px;
}

.container-info-icon {    
    margin-left: 5px;
}
/*TOGGLE BUTTON*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #FDCE0C;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FDCE0C;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round2 {
    border-radius: 34px;
  }
  
  .slider.round2:before {
    border-radius: 50%;
  }
  

.separator{
    border: 2px solid #FDCE0C;
    background: #FDCE0C;
    margin-top: 8px;
}

.tag-school{
    margin: 10px 20px 10px 20px;
    padding: 15px 6px 10px 6px;
    box-shadow: 1px 5px 15px 1px #ddd;
    min-height: 75px;
}

.img-md{
    margin: 5px;
    width: 180px;
    height: 170px;
}

.header-school{
    margin: 10px 0px 10px 0px;
}

.school-name-title{
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 1px;
}

.district-title{
    font-size: 34px;
    margin-bottom: -2px;
    margin-top: -4px;
    color:#4d5256;
}

.school-type{
    margin-bottom: 2px;
    margin-left: 1px;
    font-size: 12px;
}

.social-icons a{
    color:#333;
    margin-left: 3px;
}

.label-title{
    font-size: 12px;
    font-weight: bold;
}

.b-l{
    border-left: 2px solid rgb(65, 58, 90);
    background: linear-gradient(to left, #ffffff 0%, #fdce0c 100%)
}

.font-light{
    color: white;
    margin-bottom: 0px;
}

.font-subtitle{
    color: #413a5a;
    padding-bottom: 5px;
}

.collapsing {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.padding-6{
    padding:6px;
}

.mat-form-field{
    font-size: 15px !important;
}

.slide-style{
    cursor: -webkit-grab;
    cursor: grab;
    padding-left: 14px;
}

.rb-sm{
    font-size: 11px;
    margin-right: 8px;
}

.input-sm{
    font-size: 16px !important;
}

.section-edit{
    padding-top: 10px;
    border: 2px dashed white;
}

.section-edit:hover{
    border: 2px dashed #ddd;
    padding-top: 10px;
    cursor: pointer;
}

.no-padding-top{
    padding-top: 0px !important;
}

.select-range{
    width: 100%;
    margin-bottom: 10px;
    margin-top: -10px;
}

.no-padding{
    padding: 0px;
    margin-bottom: 0px;
}

.mat-form-field-infix{
    border-top: 0px !important;
}

.input-gpa{
    width: 116px;
}

.input-right{
    text-align: right;
    padding-right: 36px;
}

canvas {
    width: 220px !important;
    height: 220px !important;
}

.input-file-trigger{
    padding: 10px !important;
}

.title-section{
    background: #FFFFFF; 
    margin-bottom: -8px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    transition: 0.5s;
 }
  
.title-section:hover{
    background:rgba(253, 206, 12, 0.05);
    box-shadow: inset 0 -16px 20px -2px rgba(253, 216, 63, 0.6);
}