<div id="main-wrapper">
    <ma-sidebar></ma-sidebar>
    <div>
        <div class="page-wrapper">
            <idle-component></idle-component>
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>
            <!-- ============================================================== -->
            <!-- End Start Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- <chat-component></chat-component> -->
        </div>
    </div>
</div>
