<section class="bg-white">
    <div class="container student">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For college students </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        Congratulations!!!! You have made it! You are a college student and are making progress. No time to relax! Now you must keep your eye on the next challenge. Landing that first job of your blossoming career. MyKlovr will soon be able to help you with that too.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/college-student/counselor.jpg">
        </div>
        <div class="col-md-12 col-lg-6 letters-section">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Virtual counselor for grad school application </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> Wait, not ready to jump into the workforce just yet? Grad school in your future? MyKlovr's student portfolio will be even more useful when the application time comes. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> MyKlovr's virtual counselor will once again be able to help you plan your path to a graduate school via personalized recommended goals and step by step milestones, so you are able to successfully reach that next step in your life. </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white p-20">
    <div class="row">
        <div class="col-md-12 col-lg-6 letters-section p-25">
            <div class="mkd-st-title-holder">
                <p class="header-title"> Post-college career guidance </p>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-subtitle"> MyKlovr's virtual counselor platform is crunching tons of data, and connected with the most experienced corporate HR recruiters, will soon provide you with an all access career pass, assisting you to become a better job candidate. </p>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Based on your student profile and your professional interests, our proprietary artificial intelligence algorithms will assist you in formulating your very own personalized career path. MyKlovr will also assist with building your job applications, and will connect you directly with relevant internships, recruiters, and potential employers. Finding and securing a job has never been more personalized. </p>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 text-center p-image">
            <img class="img-responsive" src="../../../../assets/images/home/college-student/recruit.jpg">
        </div>
    </div>
</section>

<section class="container-parallax">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding:0px;">
                <h2 class="mkd-st-title title-parallax">
                    <span> Your First Job </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="description-parallax"> And then there is that big moment that changes everything, and you are told, “Congratulations, you are hired”. By applying all the tools and resources myKlovr has to offer, this journey will be one where you are NEVER alone. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-myklovr btn-rounded" (click)="SignUp()">SIGN UP NOW</button>
            </div>
        </div>
    </div>
</section>

