<section class="bg-white">
    <div class="container student">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-10 text-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> For PEOs & HROs </span>
                    </h2>
                </div>

                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>

                <div class="mkd-st-text-holder">
                    <span class="mkd-st-text-text">
                        In the last few years, PEOs & HROs have faced three challenges as their clients’ workforces have evolved:
                    </span>
                </div>

                <div class="pt-4 pb-4" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="../assets/images/home/peos/53227900_ml.jpg">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Card title</h4> -->
                                    <p class="card-text">Millennial employees have a different set of priorities than their baby boomer counterparts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="../assets/images/home/peos/shutterstock_89646922.png">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Card title</h4> -->
                                    <p class="card-text">When recruiting employees, companies must provide not only valuable, but unique benefits.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 hidden-lg-up"></div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <img class="card-img-top img-responsive" src="../assets/images/home/peos/father_son_shadow.png">
                                <div class="card-body">
                                    <!-- <h4 class="card-title">Card title</h4> -->
                                    <p class="card-text">Employees desire benefits that improve their children’s lives.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
                    <figure class="figure">
                        <img src="../../../assets/images/home/companies/Q12AGraph.jpg" class="figure-img img-fluid rounded" style="width:640px">
                        <figcaption class="figure-caption">MyKlovr survey of working parents, August 2017</figcaption>
                    </figure>
                </div>
                <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
                        <span class="mkd-st-text-text">
                            On average, over 70% of employees expect their employers to be supportive of their families' needs. Moreover, approximately 80% expect to reciprocate with higher productivity, commitment, and loyalty.
                        </span>
                    </div>
        </div>
    </div>
</section>

<section class="light-container">
    <div class="container">
        <div class="row">
            <div class="mkd-st-title-holder">
                <p class="header-subtitle">To remain competitive among small and mid-sized businesses, your PEO/HRO must offer clients benefit packages that address these issues. To meet this growing need, myKlovr has developed the world’s first virtual college advisor. It is an
                    invaluable tool that you can seamlessly incorporate into your clients’ benefits packages.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white light-container">
    <div class="row">
        <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
            <img src="../../../../assets/images/home/employers/kid_parent.jpg" class="figure-img img-fluid rounded" style="width:640px">
        </div>
        <div class="col-md-12 col-lg-6 letters-section text-center align-self-center">
            <div class="mkd-st-title-holder">
                <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                    <span> How your clients benefit from a virtual college advisor </span>
                </h2>
            </div>

            <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
            </div>

            <div class="mkd-st-title-holder">
                <p class="header-description"> Employees gain a powerful platform to not only become better parents, but more effective workers. Our virtual counselor provides personalized guidance and connects students to their teachers, parents, and counselors. Employers benefit
                    from enhanced employer attractiveness improving their recruitment efforts, increased employee productivity and retention. Employee turnover decreases, not only saving companies money, but also giving them the advantage of employing
                    a group of seasoned professionals. </p>
            </div>

            <br><br>
        </div>
        <div class="col-md-12 col-lg-6 letters-section text-center align-self-center">
                                
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title" style="color: rgb(65, 65, 100);">
                        <span> How your PEO/HRO benefits from a virtual college advisor </span>
                    </h2>
                </div>
    
                <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px"></div>
                </div>
    
                <div class="mkd-st-title-holder">
                    <p class="header-description">By adopting myKlovr, you can offer current and potential clients a unique, first-of-its-kind benefit. As your clients see positive changes in their employees, their increased satisfaction with your services will lead to renewed contracts.
                        When advertising your services to potential clients, you will be able to truthfully say that your benefits packages meet an unfulfilled requirement of the growing millennial workforce.<br> When compared to other employee benefits available
                        in the market, the digital college advisor ranks similarly to child care subsidies and employee assistance programs (EAP). <br> As myKlovr expands, your PEO/HRO will continue to benefit from having access to the academic and personal
                        information of tens of thousands of college graduates. In the future, you will be able to offer your clients a service that further lowers their recruitment costs. <br>
                    </p>
                </div>
            </div>
        <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
            <img src="../../../../assets/images/home/employers/kid_parent.jpg" class="figure-img img-fluid rounded" style="width:640px">
        </div>        
    </div>
</section>

<section class="bg-myklovr">
    <div class="container-fluid student">
        <div class="row">
            <div class="col-md-12 col-lg-6 text-center p-image align-self-center">
                <img src="../../../../assets/images/home/employers/kid_parent.jpg" class="figure-img img-fluid rounded" style="width:640px">
            </div> 
            <div class="ccol-md-12 col-lg-6 text-center p-image align-self-center">
                <div class="mkd-st-title-holder">
                    <h2 class="mkd-st-title">
                        <span> Superb ROI and source of incremental revenue </span>
                    </h2>
                </div>
    
                <div class="mkd-separator-holder clearfix  mkd-separator-center text-center">
                    <div class="mkd-separator" style="width: 53px;border-bottom-width: 3px;margin-top: 0px;margin-bottom: 30px; border-color: rgb(65, 65, 100);"></div>
                </div>
    
                <div class="mkd-st-title-holder">
                    <p class="header-description" style="color: #333; font-size: 16px;"> Our research proves that the perceived value of the myKlovr digital counseling platform is over 600%, offering an outstanding return on your investment. The reason for this substantial return is our AI-driven recommendation algorithms,
                        which can provide college guidance at a fraction of the cost of traditional, face-to-face college counseling. <br> <br> The myKlovr digital college advisor as a PEO/HRO affinity partner can generate a new, stable revenue stream for you. <br> Employers
                        can structure their after-tax program to share as much or as little of the cost with their employees as they choose. <br> It requires minimum implementation, onboarding, and maintenance from company HR team. <br> In summary, as myKlovr increases
                        employees’ loyalty to your clients, it will also increase your clients’ loyalty to you. <br> Feel free to <a href="/contact-us">contact us</a> if you have questions or would like additional information.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-parallax">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" style="padding:0px;">
                <h2 class="mkd-st-title title-parallax">
                    <span> For PEOs & HROs </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!--<p class="description-parallax"> And then there is that big moment that changes everything, and you are told, “Congratulations, you are hired”. By applying all the tools and resources myKlovr has to offer, this journey will be one where you are NEVER alone. </p>-->
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="assets/files/myKlovr HR benefit brochure.pdf" class="button" download><button type="button" class="btn btn-myklovr btn-rounded" style="white-space: normal;">myKlovr HR benefit brochure </button> </a>
                <a href="assets/files/myKlovr HR benefit planning documentation.pdf" class="button" download> <button type="button" class="btn btn-myklovr btn-rounded" style="white-space: normal;" download>myKlovr HR benefit planning documentation </button></a>
            </div>
        </div>
    </div>
</section>

<section class="contact-us-container">
    <div class="container-fluid">
        <div class="row d-flex justify-content-sm-center align-items-center">
            <div class="col-md-6 title-contact-container">Feel free to contact us if you have questions or would like additional information.</div>
            <div class="col-md-6 text-center">
                <button class="btn btn-myklovr btn-rounded" type="button" (click)="ContactUs()">REQUEST INFORMATION</button>
            </div>
        </div>
    </div>
</section>